.wrapper {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
img{
  width: 610px;
  padding-bottom: 10px;
  margin: 0 auto;
}
p{
  text-align: left;
  padding-bottom: 20px;  
} 
.title{
  padding-bottom: 20px;
}  
.list{
  text-align: left;
  margin-left: 30px;
  padding-bottom: 30px;
}
.text{
  font-style: italic;
  padding-top: 20px;
}



